@model JustAsk.Web.ViewModels.Idea.IdeaInputModel
@{
    ViewBag.Title = "AddIdea";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("AddIdea", "Ideas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Add an idea.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.EditorFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.EditorFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add" />
        </div>
    </div>
}

<div class="g-recaptcha" data-sitekey="6LcOvBgTAAAAAEWWc4193Byye7WLlcueHm7x3i7C"></div>
<div class="row">
    <div class="col-md-12">
        <form action="/home/validatecaptcha" method="POST">
            <div class="g-recaptcha" data-sitekey="6LfiS_8SAAAAABvF6ixcyP5MtsevE5RZ9dTorUWr"></div>
        </form>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquesryval")
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}